@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 48px;
}

body {
    background-color: #333;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#output {
    min-height: 146px;
    text-shadow: 1px 1px 1px #840000;
}

button {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px 0px 10px;
    font-family: inherit;
    font-size: inherit;
    width: 300px;
    box-shadow: none;
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: #840000;
    border: none;
    border-radius: 25px;
    color: white;
    outline:0;
    text-shadow: 1px 1px 1px black;
}

@keyframes pulse {
    from { box-shadow: 0 0 9px #333; }
    33% { box-shadow: 0 0 15px -1px #FF4136; }
    to { box-shadow: 0 0 9px #333; }
}